<div class="content-main">
    @if(tasksProp){
        @for (task of tasksProp; track $index) {
            <p>
                <app-trigger-edit 
                [indexProp]="$index"
                [isEditingProp]="isEditing" 
                (editingStateProp)="updateEditingState($event)"
                (currentIndexProp)="updateCurrentIndex($event)" />
                {{$index + 1}}.{{task}}
                <app-deletion [tasksProp]="tasksProp" [indexProp]="$index"/> 
            </p>            
        }

        @if(isEditing){
            <app-edit 
            [indexProp]="currentIndex" 
            [tasksProp]="tasksProp" 
            [currentTaskProp]="tasksProp[currentIndex]"
            [isEditingProp]="isEditing"
            (editingStateProp)="updateEditingState($event)"/>

         }    
    }   

    
</div>
