<div class="content-main">
    @if(tasksProp){
        @for (task of tasksProp; track $index) {
            <p>
                <app-trigger-edit 
                [indexProp]="$index"
                [isEditingProp]="isEditing" 
                (editingStateProp)="updateEditingState($event)" />
                {{currentTask}}
                {{$index + 1}}.{{task}}
                <app-deletion [tasksProp]="tasksProp" [indexProp]="$index"/> 
            </p>
        }
    }   

    @if(isEditing){
       <app-edit/>
    }
</div>
