.popup{
    border: 1px solid black;
    width: 300px;
    margin: 0 auto; 
    padding: 2em;
    position: absolute;
    top: 200px;
    left: calc(50% - 150px);
    background-color: skyblue;
  }

  img{
    aspect-ratio: 1/1;
    height: 100px;
 }
